[include spoolman_support_macros/*.cfg]

[spoolman_helper]
mode: $SPOOLMAN_MODE
logging: $SPOOLMAN_LOGGING
card_uids_strategy: $CARD_UIDS_STRATEGY
card_uids_auto_register: $CARD_UIDS_AUTO_REGISTER
card_uids_write_form: $CARD_UIDS_WRITE_FORM
track_location: $SPOOLMAN_TRACK_LOCATION
location: $SPOOLMAN_LOCATION
force_generic_vendor: $SPOOLMAN_FORCE_GENERIC_VENDOR
