###########################
## Extended tool support
## Virtual tools for more than 4 spools.
## By default supports up to T9 (10 tools total).
## The U1 supports up to 32. Uncomment more below.
##########################
[gcode_macro T4]
variable_spool_id: ""
gcode:
    SWITCH_OF_EXTENDED_EXTRUDER INDEX=4
    SET_ACTIVE_SPOOL TOOL=4

[gcode_macro T5]
variable_spool_id: ""
gcode:
    SWITCH_OF_EXTENDED_EXTRUDER INDEX=5
    SET_ACTIVE_SPOOL TOOL=5

[gcode_macro T6]
variable_spool_id: ""
gcode:
    SWITCH_OF_EXTENDED_EXTRUDER INDEX=6
    SET_ACTIVE_SPOOL TOOL=6

[gcode_macro T7]
variable_spool_id: ""
gcode:
    SWITCH_OF_EXTENDED_EXTRUDER INDEX=7
    SET_ACTIVE_SPOOL TOOL=7

[gcode_macro T8]
variable_spool_id: ""
gcode:
    SWITCH_OF_EXTENDED_EXTRUDER INDEX=8
    SET_ACTIVE_SPOOL TOOL=8

[gcode_macro T9]
variable_spool_id: ""
gcode:
    SWITCH_OF_EXTENDED_EXTRUDER INDEX=9
    SET_ACTIVE_SPOOL TOOL=9

# Uncomment to support more virtual tools (T10..T31):
# [gcode_macro T10]
# variable_spool_id: ""
# gcode:
#     SWITCH_OF_EXTENDED_EXTRUDER INDEX=10
#     SET_ACTIVE_SPOOL TOOL=10
